 <section id="banner">
                  <div id="slider">
                   <img class="slide" src="./imagenes/20.jpg" alt="Banner paisaje vista montañas">
                   <img class="slide" src="./imagenes/22.jpg" alt="">
                   <img class="slide" src="./imagenes/21.jpg" alt="">
                   </div>
               </section>
          <!---Banner-menu-titulo-->     
         <!--- pestaña de seleccion-->                        
               <div>
                <section id="pestania">
                 <div class="contenedor">
                   <a href="">Recientes</a>
                   <a href="">Aleatorias</a>
                   <a href="">Populares</a>
                 </div>
               </section>
         <!-- pestaña de seleccion-->      
          <!--titulo-->                         
           <section id="titulo">
             <h2>Bienvenido a Pictures Wallet una web para subir tus imagenes favoritas facil y rapido</h2>
           </section>