 
      <section></section>
      <footer>
       <div class="contenedor">
           <p class="copy">Datos de interes</p>
           <div class="sociales">
               <a class="icon-instagram" href=""></a>
               <a class="icon-facebook-official" href=""></a>
               <a class="icon-pinterest-squared" href=""></a>
           </div>
       </div>
        

    </footer>
    <script src="./js/jquery.js"></script>
    <script type="text/javascript" src="./js/jquery.min.js"></script>
    <script type="text/javascript" src="./js/nivo-lightbox.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
      $('a').nivoLightbox();
    });
    </script>
    <script src="./js/slider.js"></script>
    <script type="text/javascript" src="./js/selector.js"></script>
    </body>
</html>