
               <header>
                   <div class="contenedor">
                       <a href="/"><h1>Pictures Wallet</h1></a>
                       <input type="checkbox" id="menu-bar">
                       <label class="icon-menu" for="menu-bar"></label>
                    <nav class="menu">
                          <a href="/login">Entrar</a>
                          <a href="/registrar">Registrarse</a>
                          <a href="/informacion">Informacion</a>     
                     </nav>
                    </div>   
               </header>