<% include partials/head %>
<% include partials/navbar %>
<% include partials/banner %>
<div class="contenedor-pic">
            
            <div class="hiddeoverflow">
              <a data-lightbox-gallery="myGallery" href="imagenes/1.jpg" title="Mi Wallpaper"><img src="imagenes/1.jpg" class="pic" alt="" /></a>
            </div>
            <div class="hiddeoverflow">
              <a data-lightbox-gallery="myGallery" href="imagenes/2.jpg" title="Image Caption 2"><img src="imagenes/2.jpg" class="pic" alt="" /></a>
            </div>
            <div class="hiddeoverflow">
               <a data-lightbox-gallery="myGallery" href="imagenes/3.jpg" title="Image Caption 3"><img src="imagenes/3.jpg" class="pic" alt="" /></a>
            </div>
            <div class="hiddeoverflow">
               <a data-lightbox-gallery="myGallery" href="imagenes/13.jpg" title="Image Caption 4"><img src="imagenes/13.jpg" class="pic" alt="" /></a>
            </div>
            <div class="hiddeoverflow">
              <a data-lightbox-gallery="myGallery" href="imagenes/5.jpg" title="Image Caption 5"><img src="imagenes/5.jpg" class="pic" alt="" /></a>
            </div>
            <div class="hiddeoverflow">
              <a data-lightbox-gallery="myGallery" href="imagenes/12.jpg" title="Image Caption 6"><img src="imagenes/12.jpg" class="pic" alt="" /></a>
            </div>
            <div class="hiddeoverflow">
               <a data-lightbox-gallery="myGallery" href="imagenes/7.jpg" title="Image Caption 7"><img src="imagenes/7.jpg" class="pic" alt="" /></a>
            </div>
            <div class="hiddeoverflow">
              <a data-lightbox-gallery="myGallery" href="imagenes/8.jpg" title="Image Caption 8"><img src="imagenes/8.jpg" class="pic" alt="" /></a>
            </div>
            <div class="hiddeoverflow">
              <a data-lightbox-gallery="myGallery" href="imagenes/9.jpg" title="Image Caption 9"><img src="imagenes/9.jpg"class="pic"  alt="" /></a>
            </div>
            <div class="hiddeoverflow">
              <a data-lightbox-gallery="myGallery" href="imagenes/10.jpg" title="Image Caption 10"><img src="imagenes/10.jpg" class="pic" alt="" /></a>
            </div>
            
 </div>
 <% include partials/footer %>