<% include partials/head %>
<% include partials/navbar %>


<header>
                   <div class="contenedor">
                       <a href="/"><h1 class="page">Pictures Wallet</h1></a>
                       <input type="checkbox" id="menu-bar">
                       <label class="icon-menu" for="menu-bar"></label>
                    <nav class="menu">
                          <a href="/login">Entrar</a>
                          <a href="/registrar">Registrarse</a>
                          <a href="/informacion">Informacion</a>     
                     </nav>
                    </div>   
               </header>
<section>
                   
                   <h2>Nombre:Brian</h2>
                   <h2>Apellido:Bueri</h2>
                   <h2>Email:bueribrian@hotmail.com</h2>
                   <h2>Lenguajes utilizados:HTML, CSS, JAVASCRIPT</h2>
                   <h2>Servidor y base de datos: NODEJS-MONGODB</h2>    
               </section>
    
    </body>
</html>
