<% include partials/head %>
<% include partials/navbar %>



<header>
                   <div class="contenedor">
                       <a href="/"><h1 class="page">Pictures Wallet</h1></a>
                       <input type="checkbox" id="menu-bar">
                       <label class="icon-menu" for="menu-bar"></label>
                    <nav class="menu">
                          <a href="/login">Entrar</a>
                          <a href="/registrar">Registrarse</a>
                          <a href="/informacion">Informacion</a>     
                     </nav>
                    </div>   
               </header>
<main>
        <section id="bloque-login">
            <div class="contenedor">
                <form action="/login" method="post">
                   <h2>Entra a tu cuenta</h2>
                    <input required  type="text" required="" placeholder="Nombre o correo electronico" name="username">
                    <input required type="password" required="" placeholder="Contraseña" name="password">
                    <input required type="submit" required="" value="Entrar">   
                </form>   
            </div>     
        </section>
    </main>
      
    
</body>
</html>
