
<main>
        <section id="bloque-login">
            <div class="contenedor">
                <form action="/login" method="post">
                   <h2>Entra a tu cuenta</h2>
                    <input required  type="text" required="" placeholder="Nombre o correo electronico" name="username">
                    
                    <input required type="password" required=""placeholder="Contraseña" name="password">
                    
                    <input required type="submit" required="" value="Entrar">   
                </form>   
            </div>     
        </section>
    </main>
      
    
</body>
</html>