
        <section id="bloque-login">
            <div class="contenedor">
                <form>
                   <h2>Entra a tu cuenta</h2>
                    <input required  type="text" required="" placeholder="Nombre o correo electronico">
                    <input required type="password" required=""placeholder="Contraseña">
                    <input required type="submit" required="" value="Entrar">   
                </form>   
            </div>     
        </section>
