
<main>
        <section id="bloque-login">
            <div class="contenedor">
                <form action="/registrar" method="post" id="">
                   <h2>Crea tu cuenta</h2>
                    <input required type="text"  id="username"placeholder="Nombre" name="username">
                    <input required type="password" id="password"placeholder="Contraseña" name="password">
                    <input required type="submit"  id=""value="Registrar">   
                </form>   
            </div>     
        </section>
    </main>
    
<script src="validacion.js"></script>
</body>
</html>