<% include partials/head %>
<% include partials/navbar %>



<header>
                   <div class="contenedor">
                       <a href="/"><h1 class="page">Pictures Wallet</h1></a>
                       <input type="checkbox" id="menu-bar">
                       <label class="icon-menu" for="menu-bar"></label>
                    <nav class="menu">
                          <a href="/login">Entrar</a>
                          <a href="/registrar">Registrarse</a>
                          <a href="/informacion">Informacion</a>     
                     </nav>
                    </div>   
               </header>
<main>
        <section id="bloque-login">
            <div class="contenedor">
                <form action="/registrar" method="post" id="">
                   <h2>Crea tu cuenta</h2>
                    <input required type="text"  id="username"placeholder="Nombre" name="username">
                    <input required type="password" id="password"  placeholder="Contraseña" name="password">
                    <input required type="submit" value="Registrar">   
                </form>   
            </div>     
        </section>
    </main>
    
<script src="validacion.js"></script>
</body>
</html>
