

        <div id="bloque-login">
            <div class="contenedor">
                <form   id="">
                   <h2>Crea tu cuenta</h2>
                    <input required type="text"  id="username"placeholder="Nombre">
                    <input required type="email" id="email"placeholder="Correo electronico">
                    <input required type="password" id="password"placeholder="Contraseña">
                    <input required type="password" id="re-password"placeholder="Repita la contraseña">
                    <input required type="submit"  id=""value="Registrar">   
                </form>   
            </div>     
        </div>
    
    
<script src="validacion.js"></script>