<% include partials/head %>

<header>
                   <div class="contenedor">
                       <a href="/user"><h1 class="page" >Pictures Wallet</h1></a>
                       <input type="checkbox" id="menu-bar">
                       <label class="icon-menu" for="menu-bar"></label>
                    <nav class="menu">
                          <a href="/subir">Subir una imagen</a>
                          <a href="/logout">Salir</a>
                     </nav>
                    </div>   
               </header>
<main>
<h2>Sube tu foto</h1>
 <%= typeof msg != "undefined" ? msg: "" %>
<br>
<br>
<form action="/subir" method="post" enctype="multipart/form-data">
<input type="text" require title="title" name="title" placeholder="Escribe tu titulo">
<br>
<input require type="file" title="image" value="Busca tu imagen" name="image">
<br>
<input type="submit" title="Subir">
</form>


</main>

