<header>
                   <div class="contenedor">
                       <a href="/user"><h1 class="page">Pictures Wallet</h1></a>
                       <input type="checkbox" id="menu-bar">
                       <label class="icon-menu" for="menu-bar"></label>
                    <nav class="menu">
                          <a href="">Subir una imagen</a>
                          <a href="/usuario"> - Usuario - </a>
                          <a href="/informacion">Informacion</a>     
                     </nav>
                    </div>   
               </header>


          <section id="banner">
                  <div id="slider">
                   <img class="slide" src="./imagenes/20.jpg" alt="Banner paisaje vista montañas">
                   <img class="slide" src="./imagenes/22.jpg" alt="">
                   <img class="slide" src="./imagenes/21.jpg" alt="">
                   </div>
               </section>
          <!---Banner-menu-titulo-->     
         <!--- pestaña de seleccion-->                        
               <div>
                <section id="pestania">
                 <div class="contenedor">
                   <a href="">Recientes</a>
                   <a href="">Aleatorias</a>
                   <a href="">Populares</a>
                 </div>
               </section>
         <!-- pestaña de seleccion-->      
          <!--titulo-->                         
           <section id="titulo">
             <h2>Bienvenido a Pictures Wallet una web para subir tus imagenes favoritas facil y rapido</h2>
           </section>
          <!--titulo--> 
        <!--cuerpo-->
<!--
         <div class="visual">
            <img class="visual-imagen" src="imagenes/11.jpg" alt="">
             <div class="visual-boton">X</div>
         </div>
-->
          <section id="sec-cuerpo">
               <div id="cuerpo" >   
                 <img class ="galeria-imagen"src="imagenes/1.jpg" alt="">
                 <img class ="galeria-imagen"src="imagenes/10.jpg" alt="">
                 <img class ="galeria-imagen"src="imagenes/11.jpg" alt="">
                 <img class ="galeria-imagen"src="imagenes/12.jpg" alt="">
                 <img class ="galeria-imagen"src="imagenes/13.jpg" alt="">
                 <img class ="galeria-imagen"src="imagenes/14.jpg" alt="">
                 <img class ="galeria-imagen"src="imagenes/DSC_0386.JPG" alt="">
                 <img class ="galeria-imagen"src="imagenes/DSC_0329.JPG" alt="">
                 <img class ="galeria-imagen"src="imagenes/DSC_0308.JPG" alt="">
                 <img class ="galeria-imagen"src="imagenes/DSC_0269.jpg" alt="">
                 <img class ="galeria-imagen"src="imagenes/DSC_0255.jpg" alt="">
                 <img class ="galeria-imagen"src="imagenes/16.jpg" alt="">
                 <img class ="galeria-imagen"src="imagenes/17.jpg" alt="">
                 <img class ="galeria-imagen"src="imagenes/20.jpg" alt="">
                 <img class ="galeria-imagen"src="imagenes/DSC_0141%202.jpg" alt="">
                </div>
       </section>
        <!---cuerpo--> 
        <!---https://www.templatemonster.com/es/demo/59496.html-->    
   </main>  