<% include partials/head %>
<header>
                   <div class="contenedor">
                       <a href="/user"><h1 class="page">Pictures Wallet</h1></a>
                       <input type="checkbox" id="menu-bar">
                       <label class="icon-menu" for="menu-bar"></label>
                    <nav class="menu">
                          <a href="/login">Subir una imagen</a>
                          <a href="/usuario"><strong> <%= user.local.username %> </strong></a>
                          <a href="/logout">Salir</a>     
                     </nav>
                    </div>   
               </header>

      <div id="usuario">
      <p id="info-usuario">
      <h2>Nombre de usuario :</h2> <%= user.local.username %></strong> 
      <h2>Contraseña : </h2><%= user.local.password %></strong> 
      </p>
      </div>       
      