.contenedor-pic{
    width: 95%;
    margin: 0px 50px;
    padding: 0px 50px;
}

.pic{
    width: 350px;
    height: 250px;
    padding: 0px;
    margin: 0px;

}
.hiddeoverflow{
    width: 350px;
    height: 250px;
    margin: 0px;
    padding: 0px;
    
    display: inline-block;
}

.contenedor-pic a:hover {
    
}


.info{
    
   
}
.info:hover{
    
}





@media(min-width:480px){
    
    
        
    
}


@media(min-width:768px){
    
    
}

@media(min-width:1024px){
    
    
}