@import url(./menu.css);
@import url(./banner.css) ;
@import url(./pestania.css);
@import url(./cuerpo.css);
@import url(./slider.css);

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
   font-family: 'Open Sans', sans-serif;
    background: white;
}

header{
    width:100%;
    height: 50px;
    background:#FCFCFC;
    position: fixed;
    color:black;
    top:0;
    left:0;
    z-index:100;
    
    
    
}

.contenedor{
    width: 98%;
    margin: auto;
    

}
h1{
    float: left;
}

a h1 {
    font-style: none;
    color:black;
    
}
a h1:hover{
    color:black;
    font-style:none;
}
a h1:visited{
    color:black;
}
header .contenedor{
    display:table;
}

section{
    width: 100%;
    margin-bottom: 25px;
}

#titulo{
    text-align: center;
}
h2{
    text-align: center;
    margin-top: 90px;
}
footer{
    height: 100px;
    background-color: rgba(255, 255, 255, 0.2);
     border-top: 0.1px solid rgba(0, 0, 0, 0.2);;
    clear: both;
    border-top: 1px solid rgba(0,0,0,0.3);
    margin-top: 50px;
    color: black;
}
footer a{
    color:black;
    
}
footer a:hover{
    color:deepskyblue;
}
footer .contenedor{
    display: flex;
    flex-wrap: wrap;
}
.copy{
    font-size: 20px;
    color: black;
}
.sociales{
    width: 100%;
    text-align: center;
    font-size: 28px;
    
        
}
.sociales a{
    color:black;
    text-decoration: none;
}

@media(min-width:1024px){
    .contenedor{
        width: 1000px;
    }
}
@media(min-width:768px){
    .sociales{
        width: auto;
        
    }
    footer .contenedor{
        justify-content: space-between;
    }
}